{% extends 'base.html' %}

{% block content %}
    {% for post in object_list %}

    <div class="col">
          <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                <div class="card-body">
                    <h4><a href="{% url 'post_detail' pk=post.id %}">{{ post.title }}</a></h4>
                    <p>{{ post.summary }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'post_delete' pk=post.id %}" type="button" class="btn btn-sm btn-outline-danger">O'chirish</a>
                            <a href="{% url 'post_edit' pk=post.id %}" type="button" class="btn btn-sm btn-outline-success">Tahrirlash</a>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
          </div>
    </div>

    {% endfor %}
{% endblock content %}


