{% extends 'base.html' %}

{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <h1>Yangi post</h1>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <form action="" method="post">{% csrf_token %}
                    {{ form.as_p }}
                <div class="col-12">
                   <input type="submit" class="btn btn-primary" value="Saqlash">
                </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}